---
import Card from "./Card.astro";
import data from "../data/data.json";
const experiences = data.experience;
---

<section class="section__container" id="experience">
  <h1>Here is where I got most of my experience</h1>

  <div class="cards-wrapper">
    {
      experiences.map((job) => (
        <Card
          title={job.title}
          image={job.image}
          name={job.name}
          ref={job.ref}
          date={job.date}
          place={job.place}
          description={job.description}
          listItems={job.listItems}
        />
      ))
    }
  </div>
</section>

<style>
  .section__container {
    background-color: var(--secondary-color);
    align-items: center;
    padding: 5rem 2rem;
    height: fit-content;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 900px;
  }
</style>
